#report-chart(style="height: 300px")

javascript:
  $(function () {
    new Highcharts.Chart({
      chart: { renderTo: 'report-chart', type: 'column' },
      title: { text: 'Numbers Emails By Day' },
      xAxis: { 
        type: 'datetime',
        dateTimeLabelFormats: { 
                    month: '%e. %b',
                    year: '%b'
                  }
      },
      yAxis: {
        title: { text: 'Total' }
      },
      tooltip: {
          formatter: function() {
            return '<b>'+ (new Date(this.x)).toDateString() +'</b><br/>'+ this.y;
          }
      },
      plotOptions: {
              column: {
                pointWidth: 7,
                borderWidth: 1
              }
            },
      series: [
        {
          data: #{raw Report.numbers_emails_by_day.map{|i| [DateTime.parse(i.day).to_i * 1000, i.total.to_i] }.to_json }}
      ]
    });
  });