<img style='position: absolute; left: -9000px;' width='1' height='1' src='https://www.etsy.com/mailinglist/beacon/?utm_source=etsy_success&utm_campaign=etsy_success_111512_3391232669_0&utm_medium=email&email_sent=1353027121&.user_id=0&euid=rn67qXDKh4_D0ireSOtN_0IfxSp7'></img><img style='position: absolute; left: -9000px;' width='1' height='1' src='http://bcn.etsy.com/beacon?.user_id=0&php_event_name=email_open&php_unique_id=50a592c0f0bb14.93261516&php_event_date=16%2FNov%2F2012%3A01%3A11%3A28&locale_currency_code=USD&pref_language=en-US&region=XX&detected_region=XX&isMobileDevice=0&isMobileSupported=0&isTabletSupported=0&isTouch=0&isEtsyApp=0&utm_source=etsy_success&utm_campaign=etsy_success_111512_3391232669_0&utm_medium=email&email_sent=1353027121&euid=rn67qXDKh4_D0ireSOtN_0IfxSp7&email=1&.event_source=email&.event_logger=backend&.version=0&.p=1&.np=1&.page_guid=c4e4303182e.7aa9dd4e89bf62a62220.00&.guid=c4e43b49293.b09d0c428386d353c8ea.00&php_ab_test_names=orm_record_instance_caching&php_ab_var_names=1'></img><table width="626" border="0" cellspacing="0" cellpadding="0" align="center" style="color:#666666;font-family:Arial,sans-serif;font-size:12px;line-height:20px; background: #e3e3e3">
	<tbody>
		<tr>
			<td valign="top" style="font-size:10px;padding-bottom:8px;padding-top:3px;text-align:center;">
				Email doesn't look right? <a href="http://www.etsy.com/mailinglist/email/SExwT3pkZFQzbzZxZTk0TktLT1dwcDYyOUV2dWZLVWsvZzVzcDZtdTl1ND0uLjEzNTMwMjgyODg=" target="_blank" style="text-decoration:none; color:#0192b5;">Click here!</a>
				<div style="margin: 0 10px; padding: 19px 0px 11px 0px;text-align: center; background: #fff;">
					<div style="margin: 0 auto;">
                            <!-- BEGIN 100% row -->
                            <table style="background-color: #fff;" border="0" cellpadding="0" cellspacing="0" align="center" width="566">
                            <tbody><tr style=""><td><div><table border="0" cellpadding="0" cellspacing="0" width="566"><tbody><tr><td width="566"><div type="full" style="margin-bottom: 8px;"><div type="logo-bar"><div>	<table style="color: #666666; font-family: Arial, sans-serif; font-size: 12px; line-height: 16px; text-align: left;" align="center" border="0" cellpadding="0" cellspacing="0" width="566">
		<tbody>
			<tr>
				<td style="text-align:left; padding-bottom: 4px; padding-top: 3px;" valign="top" width="395">
					<a href="http://www.etsy.com/?utm_source=etsy_success&utm_campaign=etsy_success_111512_3391232669_0&utm_medium=email&email_sent=1353027121&.user_id=0&euid=rn67qXDKh4_D0ireSOtN_0IfxSp7&link_clicked=0" target="_blank">
						<img alt="finds" src="http://www.etsy.com/images/email/meteor/logos/success.png" border="0" height="61">
					</a>
				</td>
				<td style="text-align:right;" align="right" valign="middle" width="171"><p><a style="color: #3a3a3a; text-decoration: underline;" href="http://www.facebook.com/etsy">Facebook</a> | <a style="color: #3a3a3a; text-decoration: underline;" href="http://www.twitter.com/etsy">Twitter</a><br>
	<a style="color: #3a3a3a; text-decoration: underline;" href="http://etsy.tumblr.com">Tumblr</a> | <a style="color: #3a3a3a; text-decoration: underline;" href="http://www.etsy.com/storque/seller-handbook/the-etsy-seller-handbook-all-our-how-tos-about-selling-2383/?utm_source=etsy_success&utm_campaign=etsy_success_111512_3391232669_0&utm_medium=email&email_sent=1353027121&.user_id=0&euid=rn67qXDKh4_D0ireSOtN_0IfxSp7&link_clicked=1">Seller Handbook</a>
				</p></td>
			</tr>
		</tbody>
	</table>
</div></div><div type="author-credit"><div>		
	<table border="0" cellspacing="0" cellpadding="0" width="566" align="center">
	<tbody>
		<tr>
			<td style="line-height: 13px; border-top-color: #e2e2e2; border-top-style: solid; border-top-width: 1px; text-align: right; font-family: arial, helvetica,sans-serif; font-size: 10px;" width="566">
			Today's email brought to you by 
			<a style="text-decoration: none; color: #ff6600;" href="http://www.etsy.com/people/AudMod?utm_source=etsy_success&utm_campaign=etsy_success_111512_3391232669_0&utm_medium=email&email_sent=1353027121&.user_id=0&euid=rn67qXDKh4_D0ireSOtN_0IfxSp7&link_clicked=2">Audrey</a></td>
		</tr>
	</tbody>
	</table>
	<table border="0" cellspacing="0" cellpadding="0" width="566" align="center">
	<tbody><tr>
		<td width="566" height="5"><img width="566" height="5" src="http://www.etsy.com/images/email/meteor/template_elements/spacer.gif"></td>
	</tr>
</tbody></table></div></div><div type="full-divider"><div><table border="0" cellspacing="0" cellpadding="0" width="566" align="center">
	<tbody><tr>
				<td width="566" height="16"><img style="display:block;" width="566" height="16" src="http://www.etsy.com/images/email/meteor/template_elements/spacer.gif">
		</td>
			</tr>
</tbody></table>
</div></div><div type="editorial"><div>		<table cellspacing="0" cellpadding="0" width="566" align="center">
			<tbody>
				<tr>
					<td width="566" valign="middle" style="text-align:left; font-family:arial,helvetica,san-serif;">
						<a style="color: #0192b5; font-weight: bold; text-decoration: none; font-size: 16px; line-height:20x;" href="http://www.etsy.com/blog/en/2012/holiday-boot-camp-2012-get-ready/?utm_source=etsy_success&utm_campaign=etsy_success_111512_3391232669_0&utm_medium=email&email_sent=1353027121&.user_id=0&euid=rn67qXDKh4_D0ireSOtN_0IfxSp7&link_clicked=3">Holiday Boot Camp: Week Eight</a>
					</td>
				</tr>
				<tr>
					<td valign="middle" style="text-align:left; padding-top: 10px; padding-bottom: 10px;margin-right: 5px; line-height: 16px; font-size: 12px; font-family:arial,helvetica,san-serif; color:#666666">	
							Welcome! This week we're looking at ways to market and promote your shop for the holidays. With shopping events like Black Friday and Cyber Monday around the corner, this is a great time to get noticed. Whether you're out to grab the attention of Cyber Monday shoppers or find creative alternatives to the traditional holiday sale, we've got you covered.<br>
																			</td>
				</tr>
			</tbody>
		</table>
		<table width="566" align="center">
			<tbody>
				<tr>
					<td style="border-bottom-color: #e2e2e2; border-bottom-style: solid; border-bottom-width: 1px;" height="8"><img src="http://www.etsy.com/images/email/meteor/template_elements/spacer.gif" height="8" width="566"></td>
				</tr>
			</tbody>
		</table>

</div></div></div></td></tr></tbody></table></div></td></tr><tr style=""><td><div><table border="0" cellpadding="0" cellspacing="0" width="566"><tbody><tr><td width="566"><div type="full" style="margin-bottom: 8px;"><div type="full-divider" style="display: block; "><div><table border="0" cellspacing="0" cellpadding="0" width="566" align="center">
	<tbody><tr>
				<td width="566" height="10"><img style="display:block;" width="566" height="10" src="http://www.etsy.com/images/email/meteor/template_elements/spacer.gif">
		</td>
			</tr>
</tbody></table>
</div></div><div type="editorial" style="display: block;"><div>
				
		<table cellspacing="0" cellpadding="0" width="566" align="center">
			<tbody>
				<tr>
										<td width="275" valign="top"><a href="http://www.etsy.com/blog/en/2012/get-gift-worthy-how-to-market-your-products-for-the-holidays-and-beyond/?utm_source=etsy_success&utm_campaign=etsy_success_111512_3391232669_0&utm_medium=email&email_sent=1353027121&.user_id=0&euid=rn67qXDKh4_D0ireSOtN_0IfxSp7&link_clicked=4"><img src="http://www.etsy.com/blog/en/files/2012/11/sesameandsparrow121.jpg" border="0" width="275"></a>																				<div style="font-size: 8pt;" xml="lang"><em>Image by <a style="color: #0192b5; text-decoration: none;" href="http://www.etsy.com/shop/sesameandsparrow?utm_source=etsy_success&utm_campaign=etsy_success_111512_3391232669_0&utm_medium=email&email_sent=1353027121&.user_id=0&euid=rn67qXDKh4_D0ireSOtN_0IfxSp7&link_clicked=5">sesameandsparrow</a></em></div>
							
					</td>
					<td width="10"><img src="http://www.etsy.com/images/email/meteor/template_elements/spacer.gif" height="20" width="10"></td>
					<td width="281" valign="middle" style="text-align:left; margin-right: 5px; line-height: 16px; font-size: 12px; font-family:arial,helvetica,san-serif; color:#666666">
						<a style="color: #0192b5; font-weight: bold; text-decoration: none; font-size: 16px; line-height:20px;" href="http://www.etsy.com/blog/en/2012/get-gift-worthy-how-to-market-your-products-for-the-holidays-and-beyond/?utm_source=etsy_success&utm_campaign=etsy_success_111512_3391232669_0&utm_medium=email&email_sent=1353027121&.user_id=0&euid=rn67qXDKh4_D0ireSOtN_0IfxSp7&link_clicked=6">Get Gift-Worthy!</a>
							<p>Take a narrative approach to your item descriptions to send holiday shoppers a cohesive brand message. By telling your story, your shop's story, and the story of your target customer, you can give shoppers a reason to feel good about buying from you. <a href="http://www.etsy.com/blog/en/2012/get-gift-worthy-how-to-market-your-products-for-the-holidays-and-beyond/?utm_source=etsy_success&utm_campaign=etsy_success_111512_3391232669_0&utm_medium=email&email_sent=1353027121&.user_id=0&euid=rn67qXDKh4_D0ireSOtN_0IfxSp7&link_clicked=7" style="text-decoration:none; color:#0192b5;" target="">Read on</a>.<br></p><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><p></p>
																			</td>
				</tr>
			</tbody>
		</table>
		<table width="566" align="center">
			<tbody>
				<tr>
					<td style="border-bottom-color: #e2e2e2; border-bottom-style: solid; border-bottom-width: 1px;" height="8"><img src="http://www.etsy.com/images/email/meteor/template_elements/spacer.gif" height="8" width="566"></td>
				</tr>
			</tbody>
		</table>
		
		</div></div><div type="full-divider" style="display: block;"><div><table border="0" cellspacing="0" cellpadding="0" width="566" align="center">
	<tbody><tr>
				<td width="566" height="12"><img style="display:block;" width="566" height="12" src="http://www.etsy.com/images/email/meteor/template_elements/spacer.gif">
		</td>
			</tr>
</tbody></table>
</div></div><div type="editorial" style="display: block; "><div>
				
		<table cellspacing="0" cellpadding="0" width="566" align="center">
			<tbody>
				<tr>
										<td width="275" valign="top"><a href="https://www.etsy.com/teams/7716/announcements/discuss/11245791/page/1/?utm_source=etsy_success&utm_campaign=etsy_success_111512_3391232669_0&utm_medium=email&email_sent=1353027121&.user_id=0&euid=rn67qXDKh4_D0ireSOtN_0IfxSp7&link_clicked=8"><img src="http://www.etsy.com/blog/en/files/2012/11/feltfox4.jpg" border="0" width="275"></a>																				<div style="font-size: 8pt;" xml="lang"><em>Image by <a style="color: #0192b5; text-decoration: none;" href="http://www.etsy.com/shop/FeltFoxes?utm_source=etsy_success&utm_campaign=etsy_success_111512_3391232669_0&utm_medium=email&email_sent=1353027121&.user_id=0&euid=rn67qXDKh4_D0ireSOtN_0IfxSp7&link_clicked=9">FeltFoxes</a></em></div>
							
					</td>
					<td width="10"><img src="http://www.etsy.com/images/email/meteor/template_elements/spacer.gif" height="20" width="10"></td>
					<td width="281" valign="middle" style="text-align:left; margin-right: 5px; line-height: 16px; font-size: 12px; font-family:arial,helvetica,san-serif; color:#666666">
						<a style="color: #0192b5; font-weight: bold; text-decoration: none; font-size: 16px; line-height:20px;" href="https://www.etsy.com/teams/7716/announcements/discuss/11245791/page/1/?utm_source=etsy_success&utm_campaign=etsy_success_111512_3391232669_0&utm_medium=email&email_sent=1353027121&.user_id=0&euid=rn67qXDKh4_D0ireSOtN_0IfxSp7&link_clicked=10">Join our Black Friday and Cyber Monday Promotion</a>
							<p></p><div>To help shoppers browse for special discounts during these popular holiday shopping days, we invite you to participate in our Black Friday and Cyber Monday tagging initiative. From November 23-26, Browse will feature shops with special promotions. Special promotions include discounts on an item's price or shipping costs, an added extra bonus (such as "two-for-one" or "free gift with purchase"), and more creative promotional ideas. In order to participate, clearly state the promotion in your item description, and tag the item with "Black Friday Etsy" or "Cyber Monday Etsy." Please don't add these terms to your titles, as they may interfere with your relevancy in Search and Browse. More <a href="https://www.etsy.com/teams/7716/announcements/discuss/11245791?utm_source=etsy_success&utm_campaign=etsy_success_111512_3391232669_0&utm_medium=email&email_sent=1353027121&.user_id=0&euid=rn67qXDKh4_D0ireSOtN_0IfxSp7&link_clicked=11" style="text-decoration:none; color:#0192b5;" target="">here</a>. <br></div><div><br></div><div><br></div><p></p>
																			</td>
				</tr>
			</tbody>
		</table>
		<table width="566" align="center">
			<tbody>
				<tr>
					<td style="border-bottom-color: #e2e2e2; border-bottom-style: solid; border-bottom-width: 1px;" height="8"><img src="http://www.etsy.com/images/email/meteor/template_elements/spacer.gif" height="8" width="566"></td>
				</tr>
			</tbody>
		</table>
		
		</div></div><div type="full-divider" style="display: block;"><div><table border="0" cellspacing="0" cellpadding="0" width="566" align="center">
	<tbody><tr>
				<td width="566" height="6"><img style="display:block;" width="566" height="6" src="http://www.etsy.com/images/email/meteor/template_elements/spacer.gif">
		</td>
			</tr>
</tbody></table>
</div></div><div type="editorial" style="display: block;"><div>
				
		<table cellspacing="0" cellpadding="0" width="566" align="center">
			<tbody>
				<tr>
										<td width="275" valign="top"><a href="http://www.etsy.com/blog/news/2012/direct-checkout-milestones/?utm_source=etsy_success&utm_campaign=etsy_success_111512_3391232669_0&utm_medium=email&email_sent=1353027121&.user_id=0&euid=rn67qXDKh4_D0ireSOtN_0IfxSp7&link_clicked=12"><img src="http://www.etsy.com/blog/en/files/2012/11/fairyfolk31.jpg" border="0" width="275"></a>																				<div style="font-size: 8pt;" xml="lang"><em>Image by <a style="color: #0192b5; text-decoration: none;" href="http://www.etsy.com/shop/fairyfolk?utm_source=etsy_success&utm_campaign=etsy_success_111512_3391232669_0&utm_medium=email&email_sent=1353027121&.user_id=0&euid=rn67qXDKh4_D0ireSOtN_0IfxSp7&link_clicked=13">fairyfolk</a></em></div>
							
					</td>
					<td width="10"><img src="http://www.etsy.com/images/email/meteor/template_elements/spacer.gif" height="20" width="10"></td>
					<td width="281" valign="middle" style="text-align:left; margin-right: 5px; line-height: 16px; font-size: 12px; font-family:arial,helvetica,san-serif; color:#666666">
						<a style="color: #0192b5; font-weight: bold; text-decoration: none; font-size: 16px; line-height:20px;" href="http://www.etsy.com/blog/news/2012/direct-checkout-milestones/?utm_source=etsy_success&utm_campaign=etsy_success_111512_3391232669_0&utm_medium=email&email_sent=1353027121&.user_id=0&euid=rn67qXDKh4_D0ireSOtN_0IfxSp7&link_clicked=14">Direct Checkout Improvements</a>
							<p>For U.S. sellers using direct checkout, now you can get your deposit in as little as one day. We think you'll be as pleased as we are about the recent improvements made to direct checkout, just in time for the holidays. <a href="http://www.etsy.com/blog/news/2012/direct-checkout-milestones/?utm_source=etsy_success&utm_campaign=etsy_success_111512_3391232669_0&utm_medium=email&email_sent=1353027121&.user_id=0&euid=rn67qXDKh4_D0ireSOtN_0IfxSp7&link_clicked=15" style="text-decoration:none; color:#0192b5;" target="">Read more.</a> </p><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><p></p>
																			</td>
				</tr>
			</tbody>
		</table>
		<table width="566" align="center">
			<tbody>
				<tr>
					<td style="border-bottom-color: #e2e2e2; border-bottom-style: solid; border-bottom-width: 1px;" height="8"><img src="http://www.etsy.com/images/email/meteor/template_elements/spacer.gif" height="8" width="566"></td>
				</tr>
			</tbody>
		</table>
		
		</div></div><div type="full-divider" style="display: block;"><div><table border="0" cellspacing="0" cellpadding="0" width="566" align="center">
	<tbody><tr>
				<td width="566" height="1"><img style="display:block;" width="566" height="1" src="http://www.etsy.com/images/email/meteor/template_elements/spacer.gif">
		</td>
			</tr>
</tbody></table>
</div></div><div type="editorial" style="display: block;"><div>		<table cellspacing="0" cellpadding="0" width="566" align="center">
			<tbody>
				<tr>
					<td width="566" valign="middle" style="text-align:left; font-family:arial,helvetica,san-serif;">
						<a style="color: #0192b5; font-weight: bold; text-decoration: none; font-size: 16px; line-height:20x;" href=""></a>
					</td>
				</tr>
				<tr>
					<td valign="middle" style="text-align:left; padding-top: 10px; padding-bottom: 10px;margin-right: 5px; line-height: 16px; font-size: 12px; font-family:arial,helvetica,san-serif; color:#666666">	
							<b>Homework:</b><div><div><br></div></div><div>Create a holiday promotion that feels right for your business. This could be an add-on, creative gift wrapping, or coupon code just to name a few examples. <br></div><div><br></div><div><div>Let's <a href="https://www.etsy.com/teams/5002/etsy-success/discuss/11269004?utm_source=etsy_success&utm_campaign=etsy_success_111512_3391232669_0&utm_medium=email&email_sent=1353027121&.user_id=0&euid=rn67qXDKh4_D0ireSOtN_0IfxSp7&link_clicked=16" style="text-decoration:none; color:#0192b5;" target="">discuss</a>! </div><div>Miss anything in Holiday Boot Camp? Review it all <a href="http://www.etsy.com/blog/en/2012/holiday-boot-camp-2012-get-ready?utm_source=etsy_success&utm_campaign=etsy_success_111512_3391232669_0&utm_medium=email&email_sent=1353027121&.user_id=0&euid=rn67qXDKh4_D0ireSOtN_0IfxSp7&link_clicked=17" style="text-decoration:none; color:#0192b5;" target="">here</a>.</div></div>
																			</td>
				</tr>
			</tbody>
		</table>
		<table width="566" align="center">
			<tbody>
				<tr>
					<td style="border-bottom-color: #e2e2e2; border-bottom-style: solid; border-bottom-width: 1px;" height="8"><img src="http://www.etsy.com/images/email/meteor/template_elements/spacer.gif" height="8" width="566"></td>
				</tr>
			</tbody>
		</table>

</div></div><div type="product-module" style="display: block;"><div>	<table border="0" cellspacing="0" cellpadding="0" width="566" align="center">
		<tbody><tr>
			<td style="text-align: left; font-weight: bold; font-family: arial, helvetica,sans-serif; font-size: 20px; line-height:24px; color:#0192B5; padding-top:5px; padding-bottom:5px;">
				<a href="https://www.etsy.com/treasury/OTI2MTMyN3wyNzIzNTc1MTk4/holly-and-berry?utm_source=etsy_success&utm_campaign=etsy_success_111512_3391232669_0&utm_medium=email&email_sent=1353027121&.user_id=0&euid=rn67qXDKh4_D0ireSOtN_0IfxSp7&link_clicked=18" style="text-decoration:none;color:#0192B5 ">					Holly and Berry
				</a>			</td>
		</tr>
	</tbody></table>
				<table border="0" cellspacing="0" cellpadding="0" width="566" align="center">
		<tbody><tr> 			<td width="83px" valign="top" align="center" style="opacity: 1;">
	
    

	<div style="padding: 4px; border: 1px solid #ececec; width: 75px">
		<a href="http://www.etsy.com/listing/110155947/felted-leaf-pin-brooch-green-leaf-made?utm_source=etsy_success&utm_campaign=etsy_success_111512_3391232669_0&utm_medium=email&email_sent=1353027121&.user_id=0&euid=rn67qXDKh4_D0ireSOtN_0IfxSp7&link_clicked=19">
			<img style="display:block" src="http://img2.etsystatic.com/007/0/6038879/il_75x75.377690778_l2w1.jpg" border="0" width="75" height="75">
  		</a>
	</div>
</td>						<td width="7"><img src="http://www.etsy.com/images/email/meteor/template_elements/spacer.gif" width="7"></td>						
									<td width="83px" valign="top" align="center" style="opacity: 1;">
	
    

	<div style="padding: 4px; border: 1px solid #ececec; width: 75px">
		<a href="http://www.etsy.com/listing/113984321/red-santa-nursery-christmas-photo-8x10?utm_source=etsy_success&utm_campaign=etsy_success_111512_3391232669_0&utm_medium=email&email_sent=1353027121&.user_id=0&euid=rn67qXDKh4_D0ireSOtN_0IfxSp7&link_clicked=20">
			<img style="display:block" src="http://img1.etsystatic.com/007/0/5258730/il_75x75.391619733_5hsg.jpg" border="0" width="75" height="75">
  		</a>
	</div>
</td>						<td width="7"><img src="http://www.etsy.com/images/email/meteor/template_elements/spacer.gif" width="7"></td>						
									<td width="83px" valign="top" align="center" style="opacity: 1;">
	
    

	<div style="padding: 4px; border: 1px solid #ececec; width: 75px">
		<a href="http://www.etsy.com/listing/84979632/vintage-star-ceramic-candle-holder?utm_source=etsy_success&utm_campaign=etsy_success_111512_3391232669_0&utm_medium=email&email_sent=1353027121&.user_id=0&euid=rn67qXDKh4_D0ireSOtN_0IfxSp7&link_clicked=21">
			<img style="display:block" src="http://img3.etsystatic.com/006/0/6540554/il_75x75.385050595_1pkx.jpg" border="0" width="75" height="75">
  		</a>
	</div>
</td>						<td width="7"><img src="http://www.etsy.com/images/email/meteor/template_elements/spacer.gif" width="7"></td>						
									<td width="83px" valign="top" align="center" style="opacity: 1;">
	
    

	<div style="padding: 4px; border: 1px solid #ececec; width: 75px">
		<a href="http://www.etsy.com/listing/114509746/40-off-sale-1950s-red-velveteen-taffeta?utm_source=etsy_success&utm_campaign=etsy_success_111512_3391232669_0&utm_medium=email&email_sent=1353027121&.user_id=0&euid=rn67qXDKh4_D0ireSOtN_0IfxSp7&link_clicked=22">
			<img style="display:block" src="http://img3.etsystatic.com/004/0/5791050/il_75x75.393510411_tfp5.jpg" border="0" width="75" height="75">
  		</a>
	</div>
</td>						<td width="7"><img src="http://www.etsy.com/images/email/meteor/template_elements/spacer.gif" width="7"></td>						
									<td width="83px" valign="top" align="center" style="opacity: 1;">
	
    

	<div style="padding: 4px; border: 1px solid #ececec; width: 75px">
		<a href="http://www.etsy.com/listing/112177999/fabric-christmas-coasters-red-white-and?utm_source=etsy_success&utm_campaign=etsy_success_111512_3391232669_0&utm_medium=email&email_sent=1353027121&.user_id=0&euid=rn67qXDKh4_D0ireSOtN_0IfxSp7&link_clicked=23">
			<img style="display:block" src="http://img0.etsystatic.com/003/0/6449130/il_75x75.376971884_tng5.jpg" border="0" width="75" height="75">
  		</a>
	</div>
</td>						<td width="7"><img src="http://www.etsy.com/images/email/meteor/template_elements/spacer.gif" width="7"></td>						
									<td width="83px" valign="top" align="center" style="opacity: 1;">
	
    

	<div style="padding: 4px; border: 1px solid #ececec; width: 75px">
		<a href="http://www.etsy.com/listing/111859056/red-christmas-garland-geometric-triangle?utm_source=etsy_success&utm_campaign=etsy_success_111512_3391232669_0&utm_medium=email&email_sent=1353027121&.user_id=0&euid=rn67qXDKh4_D0ireSOtN_0IfxSp7&link_clicked=24">
			<img style="display:block" src="http://img1.etsystatic.com/005/0/6316392/il_75x75.383816537_gejv.jpg" border="0" width="75" height="75">
  		</a>
	</div>
</td>						
			 </tr>
	</tbody></table>
						
		<table width="566" align="center">
			<tbody>
				<tr>
					<td style="border-bottom-color: #e2e2e2; border-bottom-style: solid; border-bottom-width: 1px;" height="8"><img src="http://www.etsy.com/images/email/meteor/template_elements/spacer.gif" height="8" width="566"></td>
				</tr>
			</tbody>
		</table></div></div><div type="full-divider"><div><table border="0" cellspacing="0" cellpadding="0" width="566" align="center">
	<tbody><tr>
				<td width="566" height="12"><img style="display:block;" width="566" height="12" src="http://www.etsy.com/images/email/meteor/template_elements/spacer.gif">
		</td>
			</tr>
</tbody></table>
</div></div></div></td></tr></tbody></table></div></td></tr><tr style=""><td><div><table border="0" cellpadding="0" cellspacing="0" width="566"><tbody><tr><td width="566"><div type="full" style="margin-bottom: 8px;"><div type="signature"><div><table border="0" cellspacing="0" cellpadding="0" width="566" align="center">
<tbody>
<tr>
<td width="280"><img src="http://www.etsy.com/images/email/meteor/template_elements/spacer.gif" height="4" width="280"></td>
<td style="padding-left: 25px; word-spacing: 1px; line-height: 16px; font-size: 12px; font-family: arial,helvetica,sans-serif; width: 566px; color:#666666" valign="top">
	<img src="http://img2.etsystatic.com/000/0/15660296/iusa_75x75.8274846.jpg" width="50" border="0" style="float: left; margin-right: 10px;">
		Cheers!<br>
		<a style="color: #0192b5; text-decoration: none;" href="http://www.etsy.com/people/AudMod?utm_source=etsy_success&utm_campaign=etsy_success_111512_3391232669_0&utm_medium=email&email_sent=1353027121&.user_id=0&euid=rn67qXDKh4_D0ireSOtN_0IfxSp7&link_clicked=25">Audrey</a><br>
		</td></tr>
</tbody>
</table></div></div></div></td></tr></tbody></table></div></td></tr></tbody></table>
                        </div>
					<table width="566" align="center">
						<tbody>
							<tr>
								<td style="border-top-color: #e2e2e2; border-top-style: solid; border-top-width: 1px;" height="1">
									<img style="display:block;" src="http://www.etsy.com/images/email/meteor/template_elements/spacer.gif" height="1" width="566">
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</td>
		</tr>
	</tbody>
</table>
<table width="566" cellspacing="0" cellpadding="0" align="center" style="color: #666666; font-family: Arial, sans-serif; font-size: 10px;padding:10px;">
	<tbody>
		<tr>
			<td width="250" valign="top" style="text-align:center;line-height:10px; ">© 2012 Etsy Inc.<br>55 Washington St.<br>Brooklyn, NY 11201</td>
			<td width="66"> </td>
			<td width="250" valign="top" style="text-align:center;line-height:14px; "><a href="https://www.etsy.com/your/account/email?utm_source=etsy_success&utm_campaign=etsy_success_111512_3391232669_0&utm_medium=email&email_sent=1353027121&.user_id=0&euid=rn67qXDKh4_D0ireSOtN_0IfxSp7&link_clicked=26" style="color: #666666;">Manage Subscriptions</a>  |  <a href="http://www.etsy.com/mailinglist/unsubscribe_token/SExwT3pkZFQzbzZxZTk0TktLT1dwcDYyOUV2dWZLVWsvZzVzcDZtdTl1ND0uLjEzNTMwMjgyODg=" style="color: #666666;">Unsubscribe</a>
			</td>
		</tr>
	</tbody>
</table>