/*
 *= require_self
 *= require 'board'
*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic);

body {
  background: #eee url('bg/grey.png');
}

::-webkit-scrollbar {
  width: 12px;
}
 
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}


.menu {
  position: fixed;
  right: 0px;
  left: 0px;
  top: 0px;
  height:70px;
  margin-bottom: 0;
  padding: 10px 60px;
  background: #fff;// url('bg/grey.png');
  border-bottom: 2px solid #fff;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  z-index: 200;
  color: #000;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .1);

  .menu-inner {
    // margin: 10px 60px;
  }

  .menu-search {
    position: absolute;
    right: 20px;
    top: 20px;

    input {
      width: 200px;
      padding: 1px 10px;
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: 18px;
      font-weight: 100;
      letter-spacing: 2px;
      outline: 0;
      border: 1px solid #000;
      background: #eee url('bg/grey.png');
      box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);
    }
  }

  .brand {
    display: block;
    width: 300px;
    font-size: 42px;
    font-family: 'Open Sans Condensed', sans-serif;
    line-height: 36px;
    color: #000;
    text-decoration: none;

    span {
      display: block;
      font-size: 18px;
      font-weight: 100;
      color: #333;
      // font-style: italic;
    }
  }
}

// ADMIN MENU 
#admin-menu {
  position: fixed;
  right: 0px;
  top: 40%;
  padding: 10px;
  color: white;
  z-index: 99999;
  background: black;
  color: white;

  a{
    color: #fff;
    text-decoration: none;
  }

  a:hover {
    color: #ccc;
  }

  ul {
    padding: 0px;
    margin: 0px;
  }
  li {
    list-style-type: none;
    border-bottom: 1px dashed #eee;
    padding: 3px;
  }
}


