.preview-mode {
  #board-wrapper {
    position: fixed;
    right: auto;
    width: 260px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  #board-preview {
    display: block;
    position: absolute;
    // background: #fff;
    left: 270px;
    right: 0px;
    top: 100px;
  }
}

.hero-mode {

  #board-wrapper {
    top: 300px;
  }

  #board-preview {
    top: 300px;
  }

}

#board-wrapper {
  position: absolute;
  top: 100px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow-y: scroll;
}

#board {
  // position: absolute;
  position: relative;
  // margin: 0 auto;
  width: 100%;
  height: 80%;
  height: 480px;
  zoom: 1;
  z-index: 1;

  .item {
    width: 200px;
    float: left;
    padding: 15px 15px 0;
    margin: 0 7px 15px;
    font-size: 12px;
    background: white;
    box-shadow: 0 1px 3px rgba(34,25,25,0.4);
    line-height: 1.5;
    font-family: Helvetica, Arial, sans-serif;
    h2 {
      padding: 5px 0px;
      margin: 0px;
      font-size: 13px;
      font-weight: 100;
      line-height: 16px;
    }

    a {
      display: block;
      text-align: center;
    }

    &:hover {
      box-shadow: 1px 1px 4px rgba(34,25,25,0.4);
    }
  }
}

#board-preview {
  display: none;
}

#preview-menu {
  position: fixed;
  top: 90px;
  left: 270px;
  right: 20px;
  background: #fff;
  text-align: right;
  z-index: 100;

  a {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 20px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: normal;
    &:hover{
      background: #000;
      color: #fff;
    }
  }
}

#preview-content {
  margin-top: 20px;
}

#board-footer {
  position: absolute;
  bottom: 300px;
  height: 1px;
  background:#000;

  .more {
    visibility: hidden;
  }
}



