div(style="position:relative")
  #board
    - @emails.each do |email|
      .item(id="item_#{email.id}")
        = link_to cover_image_tag(email), email
        h2= email.subject
  #board-footer
    = link_to_next_page @emails, 'Next Page', class: 'more'