- title @email.subject

- content_for :admin_menu do 
  li= link_to "##{@email.id}", admin_email_path(@email)
  li= link_to "Raw", raw_email_path(@email), target: '_blank'
  li= link_to "Delete", email_path(@email), method: 'delete', confirm: 'Are you sure?'

#preview-menu
  / Search items from this site
  = search_link_to "More from #{@email.site.title}", @email, id: 'preview-link-site'

  / Close preview mode
  = link_to 'Close', '/', id: 'preview-close', 'data-item' => "item_#{@email.id}"

table#preview-content(align='center')
  tr
    td= raw @email.clean_inner_body

- if Rails.env.production? && request.xhr?
  javascript:
    _gaq.push(['_trackPageview', '#{request.url}']);