doctype html
html lang="en"
  head
    = display_meta_tags site: 'Subscry', reverse: true
    meta name="viewport" content="width=device-width, initial-scale=1.0"
    = stylesheet_link_tag "application"
    = javascript_include_tag "application" 
    = favicon_link_tag
    /[ if lt IE 9 ]
      script src="http://html5shim.googlecode.com/svn/trunk/html5.js"
    = csrf_meta_tags
    = yield :head
    = render 'shared/google_analytics'
  body
    .menu
      .menu-inner
        = link_to root_path, class: 'brand' do
          | Newsletter's Home
          span Subscribe to newsletters by ONE click
        = form_tag root_path, method: 'get', id: 'search-form', class: 'menu-search' do 
          = text_field_tag :search, params[:search], class: 'search-query', placeholder: 'Search'
      = render 'shared/admin_menu'
    = yield
